body {
    background-image: url("img/xD.jpg");
    font-family: "Arial", sans-serif;
}

table {
	background-color : white;
	font-size: 1.1em;
	margin-left: auto;
    margin-right: auto;
	padding: 10px;
}

h1 {
    margin-top: 0;
    font-size: 2em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}