html,
body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
    font: 100% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 4em;
    padding: 0;
    margin: 0;
}

p {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

li.selected {
    color: white;
}

div {
    margin: 0;
    padding: 0;
}

div.center {
    text-align: center;
}

#container {
    background-color: #000000;
    width: 900px;
    min-height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: center;
    margin: 0;
    padding-top: 40px;
}

#menu {
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.2em;
    color: #B8B8B8;
    padding: 0;
}

#menu a {
    color: inherit;
}

#menu a:hover {
    color: white;
}

#content {
    padding: 10px;
    padding-bottom: 40px;
}

#footer {
    background-color: #000000;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 0.9em;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20px;
    padding: 10px;
}

a:link {
    color: #66CCFF;
    text-decoration: none;
}

a:visited {
    color: #66CCFF;
}

a:hover {
    color: #0099FF;
}

a:active {
    color: #0033CC;
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

img.fallback {
    width: 100%;
    position: relative;
    top: 0;
}

table {
}

table.center {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: middle;
}

th {
    color: white;
    font-size: 1.4em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}

td {
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1.1em;
    margin: 0;
    padding: 3px;
}

td.spaced {
    margin: 0;
    padding: 20px;
}

td.tight {
    max-width:100%;
    white-space:nowrap;
}

td.center {
    vertical-align: middle;
}